/* Overall container styling */
.move-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Modal styling */
.move-modal {
    background-color: #fff;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Top section with search bar */
.top-move-modal {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-top .move-search-input {
    width: 100%;
}

/* Loading container styling */
.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

/* Available folders list */
.available-folders {
    max-height: 200px;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Individual folder item styling */
.f-item {
    display: flex;
    align-items: center;
    padding: 8px;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s;
}

.f-item:hover {
    background-color: #f0f0f0;
    border-radius: 5px;
}

/* Bottom section with input and buttons */
.input-vv .move-search {
    width: 100%;
    margin-top: 10px;
}

.bottom-move-modal {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.move-button-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 10px;
}

/* Button styles */
.move-btn {
    min-width: 200px;
}


@media (min-width: 600px) {
    .move-modal {
        width: 400px;
    }
    .bottom-move-modal {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        width: 100%;
    }
    .move-btn {
        min-width: 100px;
    }
    
    
  }
  