
.Selected-container {
    height: 100px;
    position: fixed;
    right: 0;
    bottom: 12vh;
    z-index: 999;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent line breaks to ensure content stays in a single line */
    -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS */
    box-sizing: border-box;
    gap: 10px;
    padding: 0px 10px;
}

.list-selected {
    width: 70px; 
    height: 70px;
    margin-right: 4vw;
    background: rgba(40, 39, 39, 0.407);
    border-radius: 50%;
    display: inline-flex; 
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-weight: 500;

}

.search-active{
    background: lightblue;
}

@media screen and (max-width: 640px) {
    .Selected-container {
        width: 100vw;
        height: 50px;
        position: fixed;
        left: 0;
        bottom: 12vh;
        z-index: 999;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        overflow-x: auto; /* Enable horizontal scrolling */
        white-space: nowrap; /* Prevent line breaks to ensure content stays in a single line */
        -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS */
        box-sizing: border-box;
        gap: 10px;
        padding: 0px 10px;
    }
    
    .list-selected {
        min-width: 40px; 
        margin-right: 4vw;
        background: rgba(40, 39, 39, 0.407);
        border-radius: 50px;
        display: inline-flex; 
        justify-content: center;
        align-items: center;
        color: #FFF;
        font-weight: 500;
        height: 40px;

    }

    .search-active{
        background: lightblue;
    }
}


