.app-container {
  display: grid;
  gap: 1rem;
  padding: 1rem 0.5rem;
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;

}

.MuiInputBase-root {
  border-radius: 44px;
}

.local-search {
  display: flex;
  align-content: center;
  align-items: center;
  gap: 2rem;
}

@media screen and (min-width:600px) {
  .app-container {
    max-width: 1200px;
    width: 100%;
    padding: 3rem;
  }

}