.breadCrumb{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 1.6rem 0.6rem 1.6rem 1.5rem;
    font-size: 16px;
    color: black;
    overflow-x: scroll;
}

@media (min-width: 600px) {
    .breadCrumb{
        font-size: 24px;
        margin-top: 100px;
        margin:0.6rem
    }
}

