.breadCrumb {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    font-size: 18px;
    color: black;
    overflow-x: scroll;
    border-radius: 8px;
    box-sizing: border-box;

}

@media (min-width: 640px) {
    .breadCrumb {
        font-size: 18px;
    }
}