.label-container,l{
 width: 100%;
 /* border: 1px solid red ; */
 height: 70px;
 box-sizing: border-box;
 contain: content;
 margin-top: -2vh;
 background: #FFF;
 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);


}


.label{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 5px;
    background: #FFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.checkbox{
    width: 20px;
    height: 20px;
}

.label-item {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    box-sizing: border-box;
    height: 70px;
    color: #000;
    box-sizing: border-box; 
    contain: content;
}