.responsive-box {
    /* position: fixed;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    padding: 10px 10px;
    border-radius: 44px;
    margin-right: 5px;
    cursor: pointer; */
  }
  
.file-item {
  position: relative;
  height: 100%;
  width: 100%;
}


  .image-item{
    width: 100%;
  }

  .dialog-wrapper {
    background-color: var(--dialog-bg, #ffffff);
  }
  
  @media (min-width: 600px) {
    .dialog-wrapper {
      padding: 20px;
    }
  }
  
  .app-bar {
    position: relative;
    background-color: var(--app-bar-bg, #2196f3);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .list-container {
    flex-grow: 1;
    position: relative;
    background-color: #FFF;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    max-width: 450px;
    margin: 0 auto;
    overflow: scroll;
    scroll-snap-type: y mandatory;
    -webkit-overflow-scrolling: touch; 
    overscroll-behavior-y: contain;
  }


  .list-containe {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }


  .video-player {
    height: 100%;
    width: 100%;
    flex-grow: 1;
    scroll-snap-align: start;
    position: relative;
    overflow: hidden;
  }

  .video-element {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .image-item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }

  
  /* .responsive-box {
    position: fixed;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    padding: 10px;
    border-radius: 44px;
    margin-right: 5px;
    box-shadow: 0 10px 5px rgba(161, 167, 204, 0.5);
  }
   */
  @media (min-width: 600px) {
    .responsive-box {
      right: 40px;
    }
      
  .image-item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
    max-height: 90%;
    object-fit: contain;
  }
  }
  
  @media (min-width: 1200px) {
    .responsive-box {
      right: 50px;
    }
  }
  
  
