.count-container {
    height: 100px;
    position: fixed;
    top: 13%; /* Position at the middle of the viewport */
    left: 50%;
    transform: translate(-50%, -50%); /* Center align both horizontally and vertically */
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent line breaks to ensure content stays in a single line */
    -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS */
    box-sizing: border-box;
    padding: 0px 10px;
    height: auto;
    width:auto;
}

.list-count {
    width: 150px; 
    height: 40px;
    background: rgba(74, 131, 185, 0.74);
    display: inline-flex; 
    justify-content: center;
    border-radius: 44px;
    align-items: center;
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);  */
    color: #FFF;
    font-weight: 500;
    cursor: pointer;
}

.search-active {
    background: lightblue;
}

@media screen and (max-width: 640px) {
    .count-container {
        width: 30%;
        height: auto;
        position: fixed;
        top: 15%; /* Adjusted to top of the viewport for mobile */
        z-index: 9999;
        left: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS */
        box-sizing: border-box;
        gap: 10px;
        padding: 0px;
    }
    
    .list-count {
        min-width: 40px; 
        background: rgba(74, 131, 185, 0.74);
        border-radius: 50px;
        display: flex; 
        /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);  */
        justify-content: center;
        align-items: center;
        color: #FFF;
        font-weight: 500;
        height: 40px;
    }

    .search-active {
        background: lightblue;
    }
}
