/* UploadFileDetails.css */

.upload-file-details-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.upload-file-details-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 80%;
}




.button-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.btn {
    margin-right: 10px;
}

.upload-name-input {
    width: 100%;
    margin-bottom: 10px;
}


.file-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 20px;
}

.file-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #98b5c1; /* Light background for contrast */
    border-radius: 8px;
    padding: 10px 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.file-details:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Slight shadow increase on hover */
}

.upload-name-input {
    flex: 1;
    margin-right: 12px;
    font-size: 16px;
    color: #FFF; 
    border-radius: 4px;
}

.file-details p {
    margin: 0;
    font-size: 16px;
    color: #FFF; 
}

.delete-icon {
    color: #ff6b6b;
    cursor: pointer;
    transition: color 0.2s ease;
}

.delete-icon:hover {
    color: #ff4c4c; /* Darker shade on hover */
}
