.search-container{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #FFF;
    box-sizing: border-box;
}

.search-folder{
    
    width:100%;
    border: 1px solid #ccc;
    box-sizing: border-box;
    height: 50px;
    outline: none;          
    padding-left: 10px;
    border: 1px solid transparent;
    border-top: 2px solid #ccc;
    background: #FFF;
}

@media screen and (max-width:1024px){
    .search-container{
        /* background-color: #000; */
    }
    .search-folder{
        display: grid;
        border-left: none;
        grid-template-columns:  1fr;
        border-top: 2px solid #ccc;
        /* border-bottom: 2px solid #ccc; */
        width: 100vw;
        color:#000
     }
    
}



@media screen and (max-width:640px){
    .search-container{
        margin-left: -2px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        margin-bottom: 1.4px;
        border-bottom: 2px solid #ccc;

    }
    .search-folder{
        display: grid;
        /* background: blue; */
        border-left: none;
        grid-template-columns:  1fr;
        border-top: 2px solid #ccc;
        width: 100vw;
        color:#000;
        height: 6vh;
        padding-left: 20px;
     }
    
}