/* History.css */
.history-container {
    padding: 0px 10px;
    height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: scroll;
    border-top: 2px solid #ccc ;
  }
  
  .history-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 10px;
  }
  
  .history-item {
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 70px;
    font-size: 16px;
    overflow-x: auto;
    cursor: pointer;
    border-radius: 8px;
    background: #1976d2;
    color: #FFF;
    margin-right: 10px;
  }
  
  .history-item:hover {
    background-color: #2775c4;
  }
  