.name-option{
    display: flex;
    justify-content: space-between;
    align-content: center;
}   

.name-option span  {
    justify-content: space-between;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100px;
    overflow: hidden;
}

@media  screen and (min-width:600px) {
    .name-option span  {
        justify-content: space-between;
        cursor: pointer;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 50vw;
        overflow: hidden;
    }
    
}
