/* App.css */

/* body {
  background: #012041c3;
} */
/* NewList.css */
/* 3b82f680 */

/* Light mode styles */
body {
  background-color: #eaf0f5;
  color: black;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  .dark-mode {
    background-color: #333;
    color: white;
  } 
}

.dark-mode {
  background-color: #333;
  color: white;
} 

::-webkit-scrollbar { 
  width: 10px;
  height: 4px;
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}