.delete-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.delete-modal {
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.delete-overlay.dark-mode {
    background-color: rgba(0, 0, 0, 0.7);
}

  
.delete-button-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.folder-name {
    font-weight: bold;
    color: #000;
    padding: 0 10px;
}

.selected-ids {
    margin-top: 20px;
    font-family: Arial, sans-serif;
}

.selected-ids h4 {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}

.selected-ids ul {
    list-style-type: none;
    padding: 0;
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
}

.selected-ids ul li {
    padding: 8px;
    margin-bottom: 5px;
    border-radius: 4px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}


.move-btn {
    min-width: 100px;
}


@media screen and (min-width:600px) {
    
.delete-modal {
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
}